<html>
<head>
	<script>
		function nextweek()
		{
			window.alert('This feature will be implemented by next week, sorry!');
		}
	</script>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>PyMall</title>
	<link rel="stylesheet" href="/static/style.css" type="text/css" charset="utf-8" />	
</head>

<body>
	<div id="background">
		<div id="page">
			<div id="header">
				<span id="connect">
					<a href="https://www.facebook.com/jswlinux" target="_blank" class="facebook"></a>
					<a href="http://twitter.com/jswlinux" target="_blank" class="twitter"></a>
					<a href="http://www.youtube.com/jswlinux" target="_blank" class="vimeo"></a>
				</span>
				<span id="infos">
					<a href={{ address1 }}>{{ menu1 }}</a>|
					<a href="{{ address2 }}">{{ menu2 }}</a>
				</span>
				<a href="/" id="logo"></a> <!-- /#logo -->
				<ul id="navigation">
					<li><a href="/">Home</a></li>
					<li><a href="/about/">About</a></li>
					<li class="selected"><a href="/blog/">Blog</a></li>
					<li><a href="/shop/">Shop</a></li>
					<li><a href="/contactus/">Contact Us</a></li>
				</ul>
			</div> <!-- /#header -->
			<div id="contents">
				<div id="blogs">
					<div>
						<span><img src="/static/w-shirt-red.jpg" alt="shirt" /></span>
						<h3>Hello and welcome to PyMall! The unique tee webstore!</h3>
						<p>
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, 
							quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, 
							vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. 
							Nam liber tempor cum
						</p>
						<a href="/" class="more">Read more...</a>
					</div>
					<div class="last">
						<span><img src="/static/m-shirt-blue.jpg" alt="shirt" /></span>
						<h3>Hello and welcome to PyMall! The unique tee webstore!</h3>
						<p>
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, 
							quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, 
							vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. 
							Nam liber tempor cum
						</p>
						<a href="/" class="more">Read more...</a>
					</div>
					<div class="buttons">
						<a href="/blog">newer</a> 
						<a href="/blog">older</a> 
					</div>
				</div>
			</div> <!-- /#contents -->
			<div id="footer">
				<div id="description">
					<div>
						<a href="/" class="logo"></a>
						<span>&copy; Copyright &copy; 2012. <a href="/">Seowon Jung</a> All rights reserved</span>
					</div>
					<p>
						This website is Hawaii Pacific University CSCI 3771 Python class Project.
					</p>
				</div>
				<div class="navigation">
					<a href="/">Home</a>|
					<a href="/about/">About</a>|
					<a href="/blog/">Blog</a>|
					<a href="/shop/">Shop</a>|
					<a href="/contactus/">Contact Us</a>
				</div>
			</div> <!-- /#footer -->
		</div> <!-- /#page -->
	</div> <!-- /#background -->
</body>
</html>
