<html>
<head>
	<script>
		function nextweek()
		{
			window.alert('This feature will be implemented by next week, sorry!');
		}
	</script>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>PyMall</title>
	<link rel="stylesheet" href="/static/style.css" type="text/css" charset="utf-8" />	
</head>

<body>
	<div id="background">
		<div id="page">
			<div id="header">
				<span id="connect">
					<a href="https://www.facebook.com/jswlinux" target="_blank" class="facebook"></a>
					<a href="http://twitter.com/jswlinux" target="_blank" class="twitter"></a>
					<a href="http://www.youtube.com/jswlinux" target="_blank" class="vimeo"></a>
				</span>
				<span id="infos">
					<a href={{ address1 }}>{{ menu1 }}</a>|
					<a href="{{ address2 }}">{{ menu2 }}</a>
				</span>
				<a href="/" id="logo"></a> <!-- /#logo -->
				<ul id="navigation">
					<li><a href="/">Home</a></li>
					<li><a href="/about/">About</a></li>
					<li><a href="/blog/view/">Blog</a></li>
					<li class="selected"><a href="/shop/">Shop</a></li>
					<li><a href="/contactus/">Contact Us</a></li>
				</ul>
			</div> <!-- /#header -->
			<div id="contents">
				<div id="blogs">
					<span><img src=/static/{{ item_img }}></span>
					<h3>{{ item_name }}</h3>
					<p>Description: {{ category }}'s {{ item_desc }}</p>
					<p>Price: ${{ item_price }}</p>
					<p>Size: {{ item_size }}</p>
					<p><a href="/membership/addCart/?item_no={{ item_no }}" class="buy" style="background-color:#fff36b;color:#8f6f05; font-family:CorbenBold; font-size:14px; height:20px; line-height:20px; width:80px; border-radius:3px;text-decoration: none;">Add to my cart</a></p>
				</div>
			</div> <!-- /#contents -->
			<div id="footer">
				<div id="description">
					<div>
						<a href="/" class="logo"></a>
						<span>&copy; Copyright &copy; 2012. <a href="/">Seowon Jung</a> All rights reserved</span>
					</div>
					<p>
						This website is Hawaii Pacific University CSCI 3771 Python class Project.
					</p>
				</div>
				<div class="navigation">
					<a href="/">Home</a>|
					<a href="/about/">About</a>|
					<a href="/blog/">Blog</a>|
					<a href="/shop/">Shop</a>|
					<a href="/contactus/">Contact Us</a>
				</div>
			</div> <!-- /#footer -->
		</div> <!-- /#page -->
	</div> <!-- /#background -->
</body>
</html>
