<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>PyMall</title>
	<link rel="stylesheet" href="/static/style.css" type="text/css" charset="utf-8" />	
</head>

<body>
	<div id="background">
		<div id="page">
			<div id="header">
				<span id="connect">
					<a href="https://www.facebook.com/jswlinux" target="_blank" class="facebook"></a>
					<a href="http://twitter.com/jswlinux" target="_blank" class="twitter"></a>
					<a href="http://www.youtube.com/jswlinux" target="_blank" class="vimeo"></a>
				</span>
				<span id="infos">
					<a href={{ address1 }}>{{ menu1 }}</a>|
					<a href="{{ address2 }}">{{ menu2 }}</a>
				</span>
				<a href="/" id="logo"></a> <!-- /#logo -->
				<ul id="navigation">
					<li><a href="/">Home</a></li>
					<li><a href="/about/">About</a></li>
					<li><a href="/blog/view/">Blog</a></li>
					<li><a href="/shop/">Shop</a></li>
					<li><a href="/contactus/">Contact Us</a></li>
				</ul>
			</div> <!-- /#header -->
			<div id="contents">
				<div id="main">
					<p>
						<b>User Information</b><br/>
						<!--User No: {{ user_no }}<br>-->
						<b>First name</b>: {{ firstname }} <br>
						<b>Last name</b>: {{ lastname }}<br>
						<b>Phone #</b>: {{ ph }}<br>
						<b>Address</b>: {{ address }}<br>
						<table border="0">
							<tr>
								<td>
									<form method="POST" action="/membership/editInfo/">
										<input type="hidden" name="user_no" value="{{ user_no }}">
										<input type="hidden" name="requested" value="editInfo">
										<input type="submit" value="Edit my info">
									</form>
								</td>
								<td>
									<form method="POST" action="/membership/editInfo/">
										<input type="hidden" name="user_no" value="{{ user_no }}">
										<input type="hidden" name="requested" value="changePasswd">
										<input type="submit" value="Change my password">
									</form>
								</td>
							</tr>
						</table>
						<br><br>
						<b>Cart</b>
						{% ifequal reset 'empty' %}
							<br>Your cart is empty<br>
						{% endifequal %}
						<table border="0">
						{% for each in itemsInCart %}
							{% ifequal each.membership_id_id user_no %}
								{% for item in allItem %}
									{% ifequal item.id each.item_id %}
									<tr>
										<td rowspan="4"><img src="/static/{{ item.item_img }}" width="101" height="125"></td>
										<td width="500">Item#: {{ item.id }}</td>
										<td>Price</td>
										<td><center>Quantity</center></td>
										<td><center>Sub Total</center></td>
									</tr>
										
										<td><b>Item name: {{ item.item_name }}</b></td>
										<td>${{ item.item_price }}</td>
										<td valign="center">
											<form method="post" action="/membership/qty/" style="padding-top:8px;">
												<input type="text" name="qty" value="{{ each.item_qty }}" maxlength="3" size="3" onKeyup="this.value=this.value.replace(/[^0-9]/g,'');">
												<input type="hidden" name="item_no" value="{{ item.id }}">
												<input type="submit" value="Edit qty">
											</form>
										</td>
										<td>${% widthratio item.item_price 1 each.item_qty %}.00</td>
									</tr>
									<tr>
										<td>Description: {{ item.item_desc }}</td>
										<td>&nbsp;</td>
										<td>
											<a href="/membership/deleteItem/?item_no={{ item.id }}">
											<div style="text-align:right">Delete</div></a>
										</td>
									</tr>
									<tr>
										<td>Size: {{ item.item_size }}</td>
									<tr>
									<tr><td colspan=4>&nbsp;</td></tr>
									{% endifequal %}
								{% endfor %}
							{% endifequal %}
							<br>
						{% endfor %}
						</table>
						<br><br>
						{% ifequal reset 'notempty' %}
							<a href="/membership/resetCart/">Reset my cart!</a>
						{% endifequal %}
					</p>

					<p>
						
					</p>
				</div>
				
			</div> <!-- /#contents -->
			<div id="footer">
				<div id="description">
					<div>
						<a href="/" class="logo"></a>
						<span>&copy; Copyright &copy; 2012. <a href="/">Seowon Jung</a> All rights reserved</span>
					</div>
					<p>
						This website is Hawaii Pacific University CSCI 3771 Python class Project.
					</p>
				</div>
				<div class="navigation">
					<a href="/">Home</a>|
					<a href="/about/">About</a>|
					<a href="/blog/">Blog</a>|
					<a href="/shop/">Shop</a>|
					<a href="/contactus/">Contact Us</a>
				</div>
			</div> <!-- /#footer -->
		</div> <!-- /#page -->
	</div> <!-- /#background -->
</body>
</html>
